*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.main{
    width: 400px;
    border: 2px black solid;
    border-radius: 15px;
    background-color: grey;

}
.screen{
    border: 2px black solid;
    border-radius: 5px;
    background-color: white;
    margin: 10px 10px;
}
.screen div{
    min-height: 35px;
    margin-top: 12px;
}
.entry{
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    margin: 10px 10px;

}
.entry button{
    font-size: 48px;
    margin: 1px 1px;
    padding: 10px 20px;
}

.scentry{
    text-align: end;
    margin-right: 3px;
    font-size: 40px;
}
.result{
    text-align: end;
    margin-right: 3px;
    font-size: 25px;
    opacity: 0.5;
}
.clear{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    margin: 10px 10px;
}
.clear button{
    font-size: 30px;
    border-radius: 5px;
    border: 2px solid black;
    padding: 0 20px 0 20px;
    
}